/* Reset margins and padding for html and body */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on touch devices */
  overflow-x: hidden; /* Hide horizontal scrolling */
  overflow-y: scroll; /* Ensure vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}
iframe
{
    display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
